:root{
  --card-color: rgb(25, 25, 25);
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.homePage {
  width: 100%;
  min-height: 100vh;
}
.postArea
{
  background: linear-gradient(rgba(14, 14, 14, 0.479), rgba(166, 166, 255, 0.384));
  padding: 10px;
  margin: 0 auto;
  display: block;
}
.textArea{
  resize: none;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  border: 2px solid gray;
  border-radius: 5px;
}

.postArea input{
  width: 80%;
  height: 40px;
  border: 2px solid gray;
  border-radius: 5px;
}

.textArea:hover {
  border-color: #646cff;
}


#cards {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  padding: 1em 0em;
  place-self: center;
  position: relative;
  width: calc(100% - 2em);
  z-index: 2;
}